algorithm.sty
algorithmic.sty
chromac.png
conf.png
example_paper copy.tex
example_paper.aux
example_paper.bbl
example_paper.blg
example_paper.dvi
example_paper.log
example_paper.out
example_paper.pdf
example_paper.synctex.gz
example_paper.tex.aux
example_paper.tex.bbl
example_paper.tex.blg
example_paper_accepted.pdf
example_paper_initial_submission.pdf
fancyhdr.sty
hmm.png
icml2013.bst
icml2013.sty
icml_numpapers.eps
icml_numpapers.pdf
naive.png
natbib.sty
