doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.0.3.min.js')
        script(src='/javascripts/recorderjs/recorder.js')
        script(src="/socket.io/socket.io.js")
        script(src='/javascripts/demo.js')

    body
        #toggle(type='button')
        canvas#canvas
        audio#audio(controls='controls')
            source(type='audio/wav')
        #response
